POSTGRES_IMAGE=postgres:latest
REDIS_IMAGE=redis:latest
POSTGRES_DB=sourceflow
POSTGRES_USER=sourceflow
POSTGRES_PASSWORD=local_sourceflow_change_me
REDIS_PASSWORD=local_sourceflow_redis_change_me
POSTGRES_PORT=5432
REDIS_PORT=6379
